<h1>Be Awesome</h1>
<h2>Track your habits</h2>
<p>
  The number 1 site for becoming and staying awesome.
</p>

<div class="alert seriousAlert">
  You haven't checked off any habits!
</div>

<table class='radius main'>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Completed</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @habits.each do |habit| %>
  <tr>
    <td class='main'><%= habit.name %></td>
    <td><%= habit.description %></td>
    <td><%= habit.completed %></td>
    <td><%= link_to 'Show', habit %></td>
    <td><%= link_to 'Edit', edit_habit_path(habit) %></td>
    <td><%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= link_to 'New Habit', new_habit_path %> <br />

<br />
<h2>Resources</h2>
<a href="http://bit.ly/14pCUo6" class='external'>Find new habits</a>
